
/* HEADING*/
 h1{
    font-variant: small-caps;
    text-align:center;
    margin-top: 30px;
    margin-bottom: -5px;
    font-size: 7vw;
 }

 #subheading{
    color:lightgray;
    font-size: 3vw;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 20px;
}

/* BODY*/
body {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: black;
 }

 /* NAV */
.button, .button a {
    background-color: teal;
    color: white;
    border: none;
    padding: 15px 15px;
    text-decoration: none;
    text-align:center;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    box-sizing: none;
    width: 100%;
    height: 100%;
    margin-top: 0;
    font-variant: small-caps;
    transition: 0.5s;
}
    
.button:hover, .button:hover a {
    background-color: rgb(4, 78, 78);
    color: white;
}

.button:active, .button:active a{
    background-color:rgb(2, 177, 177);
    color:white;
}

.btn-block+.btn-block {
    margin-top: 0rem;
}

.add-border{
   border: 1.2px solid white;
}

.remove-margin{
    margin-left: -15px;
    margin-right: -15px;
}

/* Button from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: powderblue 2px 3px;
}
  
#myBtn:hover {
    background-color: #555;
}
/* Button from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

/*General Artist IDs*/
#weird, #oobs, #miss, #chibi{
    padding: 10px;
}

/*Specific Artist IDs*/
#weird{
    background-color: rgb(255, 206, 244);
    background-image: linear-gradient(to bottom right, rgb(255, 206, 244),rgb(247, 94, 247));
    /*background-image: url(sparkle.gif);*/
    border-top: magenta 2px;
}

#oobs{
    background-color: peachpuff;
    background-image: linear-gradient(to bottom right, peachpuff, orange)
}

#miss {
    background-color: lemonchiffon;
    background-image: linear-gradient(to bottom right, lemonchiffon, rgb(252, 241, 87));
    background-size: contain;
}

#chibi {
    background-color: lavender;
    background-image: linear-gradient(to bottom right, lavender, purple)
}

/*Displaying Content*/
.profile{
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    text-align-last: center;
    padding-bottom: 5px;
}

.profile .profile-image{
    align-content: center;
    justify-content: center;
}
.profile-image > a > img{
    border-radius: 50%;
}

.twitter-handle{
    text-align: center;
    text-shadow: white 2px 3px;
    font-size: 5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.twitter-handle > a{
    color:black;
}

#weird .twitter-handle > a{
    color: rgb(247, 94, 247);
}

#oobs .twitter-handle > a {
    color: orange;
}

#miss .twitter-handle > a {
    color: rgb(252, 241, 87);
    text-shadow: gray 2px 3px;
}

#chibi .twitter-handle > a {
    color: purple;
    text-shadow: gray 2px 3px;
}

.art-display {
    align-content: center;
    justify-content: center;
}

.frame{
    padding: 15px;
}

#weird .frame {
    background-color:lavender;
}

#oobs .frame {
    background-color: lemonchiffon;
}

#miss .frame {
    background-color: peachpuff;
}

#chibi .frame {
    background-color:rgb(255, 206, 244);
}

/*Footer*/
#copyright{
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: cyan;
    padding-top: 2px;
    padding-right: 6px;
}

footer {
    background-color:teal;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 footer a {
     color: white;
 }